@model Employee_TMS.Entities.Employee

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        margin-top:400px;
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .form-container h1 {
            text-align: center;
        }

        .form-container .form-group {
            margin-bottom: 15px;
        }
        .row{
            margin-top:50px;
        }
</style>

<h1 class="text-center">Reset Password</h1>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="form-container">
            
                <p>Employee ID: @ViewBag.EmployeeId</p>
                @using (Html.BeginForm("ResetPassword", "Employee", FormMethod.Post))
                {
                   <p style="color:red">@ViewBag.Error</p>
                    <div class="form-group">
                        <label for="Password">Password:</label>
                        <input type="text" id="password" name="password" class="form-control" />
                    </div>

                    <input type="hidden" name="employeeId" value="@ViewBag.EmployeeId" />
                    <input type="hidden" name="oldpassword" value="@ViewBag.Password" />  
              
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                }
            
        </div>
    </div>
</div>
